.container-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .new-feed{
        text-align: center;
    }
    .box{
        width: 1400px;
        columns: 2;

        
        .post{
            .heading{
                color: white;
            }
            color: #908E9B;
            border: 2px solid rgb(236, 176, 176);
            padding: 5%;
            margin-bottom: 15px;
            border-radius: 15px;
            
        }
    }
}
