
body{
    margin: 0;
    padding: 0;
    // color: white;
    a{
        text-decoration: none;
        color: #cbc8db;
    }
    font-family: 'Rubik', sans-serif;

}
.app-main{
    background: #1e1e20;
    color: white;
    height: 100vh;
    background-position: center;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}
.active{
    // font-weight: bold;
    color: white;
}