.container-info {
  height: 100vh;
  display: flex;
  justify-content: center;

  .container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;

    .wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 10px;

      .text-heading{
        text-align: center;
      }

      .right {
        border: 2px solid rgb(236, 176, 176);
        padding: 5%;
        border-radius: 15px;
    }
      .left {
        border: 2px solid rgb(236, 176, 176);
        padding: 5%;
        border-radius: 15px;
      }
    }
  }
}
