.container-info{
    height: 100vh;
    display: flex;
    justify-content: center;

    .container-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        width: 1400px;

        .right{
                flex: 1;
        }
        .left{
                flex: 1;
        }
    }
}